## **Jan 選擇權資料**

In [63]:
import os
import pandas as pd
from tqdm import tqdm

df = pd.DataFrame()

# 讀每年一月的檔案
dir_name = 'D:\\碩論資料\\TABLE_year_January'
files = os.listdir(dir_name)
for index, file in enumerate(tqdm(files)):
    if index == 14:  # 2013無法讀檔
        continue
        
    file_path = os.path.join(dir_name, file)
    df_ori = pd.read_csv(file_path)

    df = df.append(df_ori)  # 存成 'total.csv'

100%|██████████████████████████████████████████████████████████████████████████████████| 19/19 [07:55<00:00, 25.02s/it]

In [66]:
df2 = df.drop_duplicates(['secid','ticker','cusip'])  # 取單一對照，存成 'uni_total.csv'
#df2.to_csv('uni_total.csv')

In [68]:
df2

,cp_flag,cusip,date,exdate,exercise_style,index_flag,issuer,optionid,secid,symbol,ticker
0,P,00190710,19960104,19960120,A,0,AST RESEARCH INC,10002894,5005,NaN,ASTA
482,P,00867710,19960104,19960120,A,0,AHMANSON (H F) & CO,10084818,5015,NaN,AHM
976,C,01447610,19960104,19960518,A,0,ALEXANDER & ALEXANDER,10210717,5022,NaN,AAL
1420,C,02209210,19960104,19960120,A,0,ALTRON INC,10322435,5028,NaN,ALRN
1897,P,02390510,19960104,19960518,A,0,AMDAHL CORP,10010891,5029,NaN,AMH
...,...,...,...,...,...,...,...,...,...,...,...
16835524,C,43283X10,20170105,20170120,A,0,HILTON GRAND VACATIONS INC,114394323,210641,NaN,HGV
16836026,C,70051710,20170105,20170120,A,0,PARK HOTELS RESORTS INC,114403992,210643,NaN,PK
16836580,C,89686D10,20170105,20170120,A,0,TRIVAGO N V,114411217,210685,NaN,TRVG
16837040,C,G8711010,20170117,20170120,A,0,TECHNIPFMC PLC,114479480,210772,NaN,FTI
16839394,C,92214X10,20170130,20170217,A,0,VAREX IMAGING CORP,114693925,210780,NaN,VREX

### *查詢對應的secid*

In [221]:
# 查詢資訊，ticker未必存在，可透過 'issuer' 反查
for firm in df2['issuer']:
    if 'Atmel'.upper() in firm:
        print(firm)

ATMEL CORP

In [281]:
# 查詢資訊
df2[df2['secid'] == 124127]

,cp_flag,cusip,date,exdate,exercise_style,index_flag,issuer,optionid,secid,symbol,ticker
3668804,C,82706C10,20070111,20070120,A,0,SILICON MOTION TECHNOLOGY CO,32357023,124127,NaN,SIMO

In [282]:
# 查詢資訊
df[df['issuer'] == 'SILICON MOTION TECHNOLOGY CO']

,cp_flag,cusip,date,exdate,exercise_style,index_flag,issuer,optionid,secid,symbol,ticker
3668804,C,82706C10,20070111,20070120,A,0,SILICON MOTION TECHNOLOGY CO,32357023,124127,NaN,SIMO
3668805,C,82706C10,20070111,20070120,A,0,SILICON MOTION TECHNOLOGY CO,32357021,124127,NaN,SIMO
3668806,C,82706C10,20070111,20070120,A,0,SILICON MOTION TECHNOLOGY CO,32357020,124127,NaN,SIMO
3668807,C,82706C10,20070111,20070217,A,0,SILICON MOTION TECHNOLOGY CO,32357026,124127,NaN,SIMO
3668808,C,82706C10,20070111,20070217,A,0,SILICON MOTION TECHNOLOGY CO,32357016,124127,NaN,SIMO
...,...,...,...,...,...,...,...,...,...,...,...
10414657,P,82706C10,20170131,20170915,A,0,SILICON MOTION TECHNOLOGY CO,114605247,124127,NaN,SIMO
10414658,P,82706C10,20170131,20170915,A,0,SILICON MOTION TECHNOLOGY CO,114605248,124127,NaN,SIMO
10414659,P,82706C10,20170131,20170915,A,0,SILICON MOTION TECHNOLOGY CO,114605249,124127,NaN,SIMO
10414660,P,82706C10,20170131,20170915,A,0,SILICON MOTION TECHNOLOGY CO,114605250,124127,NaN,SIMO
10414661,P,82706C10,20170131,20170915,A,0,SILICON MOTION TECHNOLOGY CO,114605251,124127,NaN,SIMO

### *確認 secid 和 ticker 的對應關係*

In [72]:
import numpy as np

def count_unique(series):
    return len(pd.unique(series))


# 在特定一天，某個ticker有多少個不同個secid
dff = pd.pivot_table(df, values='secid', index=['date'], columns=['ticker'], aggfunc=count_unique)

In [73]:
dff

ticker,?,A,AA,AABA,AAC,AAI,AAIIQ,AAL,AAN,AAOI,...,ZZZZA,ZZZZB,ZZZZD,ZZZZE,ZZZZF,ZZZZK,ZZZZQ,ZZZZS,ZZZZY,ZZZZZ
date,,,,,,,,,,,,,,,,,,,,,
19960104,6.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,...,2.0,NaN,NaN,6.0,1.0,1.0,31.0,1.0,2.0,1.0
19960105,6.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,...,2.0,NaN,NaN,6.0,1.0,1.0,31.0,1.0,2.0,1.0
19960108,6.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,...,2.0,NaN,NaN,6.0,1.0,1.0,31.0,1.0,2.0,1.0
19960109,6.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,...,2.0,NaN,NaN,6.0,1.0,1.0,31.0,1.0,2.0,1.0
19960110,6.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,...,2.0,NaN,NaN,6.0,1.0,1.0,31.0,1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20170125,NaN,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20170126,NaN,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20170127,NaN,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20170130,NaN,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20170131,NaN,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
# secid數量有異常的 tickers
dff[[col for col in dff.columns if (dff[col] != [1.0]*len(dff)).any()]].head()

ticker,?,A,AA,AABA,AAC,AAI,AAIIQ,AAL,AAN,AAOI,...,ZZZZA,ZZZZB,ZZZZD,ZZZZE,ZZZZF,ZZZZK,ZZZZQ,ZZZZS,ZZZZY,ZZZZZ
date,,,,,,,,,,,,,,,,,,,,,
19960104,6.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,...,2.0,NaN,NaN,6.0,1.0,1.0,31.0,1.0,2.0,1.0
19960105,6.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,...,2.0,NaN,NaN,6.0,1.0,1.0,31.0,1.0,2.0,1.0
19960108,6.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,...,2.0,NaN,NaN,6.0,1.0,1.0,31.0,1.0,2.0,1.0
19960109,6.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,...,2.0,NaN,NaN,6.0,1.0,1.0,31.0,1.0,2.0,1.0
19960110,6.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,...,2.0,NaN,NaN,6.0,1.0,1.0,31.0,1.0,2.0,1.0

## **63家半導體對應的secid**

### *skip*

In [75]:
semi = pd.read_excel('C:\\Users\\User\\Desktop\\資料整理\\半導體_國泰.xlsx')
tickers_all = semi.Ticker.values.tolist()  # 63 家半導體

In [53]:
# 確認某天某ticker出現過的secid or cusip
df[(df['date']==20000103) & (df['ticker']=='ADI')]['secid'].unique()

array([101535], dtype=int64)

In [76]:
non_exist = []
err = []
for i, ticker in enumerate(tickers_all):
    try:
        dff[ticker]
        if (dff[ticker] == [1.0]*len(dff)).any():
            print('第{}個ticker:{} 資料完整'.format(i, ticker))
        else:
            print('第{}個ticker:{} 資料有異，df如下：'.format(i, ticker))
            print(dff[ticker])
            err.append(ticker)
    except:
        print('{}不存在'.format(ticker))
        non_exist.append(ticker)

第0個ticker:ADI 資料完整
ALTR不存在
第2個ticker:AMAT 資料完整
第3個ticker:AMD 資料完整
ARMH不存在
第5個ticker:ASML 資料完整
ATHR不存在
ATML不存在
第8個ticker:AVGO 資料完整
BRCM不存在
第10個ticker:BRKS 資料完整
第11個ticker:CAVM 資料完整
第12個ticker:CCMP 資料完整
第13個ticker:CREE 資料完整
第14個ticker:CRUS 資料完整
CY不存在
第16個ticker:ENTG 資料完整
第17個ticker:FSL 資料有異，df如下：
date
19960104   NaN
19960105   NaN
19960108   NaN
19960109   NaN
19960110   NaN
            ..
20170125   NaN
20170126   NaN
20170127   NaN
20170130   NaN
20170131   NaN
Name: FSL, Length: 362, dtype: float64
HITT不存在
第19個ticker:IDCC 資料完整
IDTI不存在
IFNNY不存在
第22個ticker:INFN 資料完整
第23個ticker:INTC 資料完整
第24個ticker:IPHI 資料完整
第25個ticker:KLAC 資料完整
LLTC不存在
第27個ticker:LRCX 資料完整
第28個ticker:LSCC 資料完整
第29個ticker:LSI 資料完整
第30個ticker:MCHP 資料完整
第31個ticker:MKSI 資料完整
MLNX不存在
第33個ticker:MPWR 資料完整
第34個ticker:MRVL 資料完整
第35個ticker:MSCC 資料完整
第36個ticker:MSI 資料完整
第37個ticker:MU 資料完整
第38個ticker:MXIM 資料完整
NETL不存在
第40個ticker:NSM 資料完整
第41個ticker:NVDA 資料完整
NVLS不存在
第43個ticker:NXPI 資料完整
第44個ticker:ON 資料完整
第45個ticker:POWI 資料完整
第46個ticker:QCOM 資料完整
第47個ticker:QRVO 資料完整
第48個ticker:RBCN 資料完整
RFMD不存在
第50個ticker:SIMO 資料完整
第51個ticker:SLAB 資料完整
第52個ticker:SMTC 資料完整
SNDK不存在
SPRD不存在
第55個ticker:STM 資料完整
SUNEQ不存在
第57個ticker:SWKS 資料完整
第58個ticker:TER 資料完整
第59個ticker:TSM 資料完整
第60個ticker:TXN 資料完整
第61個ticker:VECO 資料完整
第62個ticker:XLNX 資料完整

In [77]:
len(non_exist)

17

In [78]:
exist = [ticker for ticker in tickers_all if (ticker not in non_exist) & (ticker not in err)]

In [80]:
ticker_secid = {}

for ticker in exist:
    ticker_secid[ticker] = df[df['ticker']==ticker]['secid'].unique()[0]

In [91]:
ticker_secid_df = pd.DataFrame({'secid':ticker_secid})

In [93]:
# 對應到的secid存檔
tmp = ticker_secid_df.T
tmp['FSL'] = '121717&122434'
tmp.T.to_csv('ticker_secid_exist.csv')

In [111]:
# 查詢 63 家半導體的 secid
a = pd.DataFrame()
for ticker in tickers:
    a = a.append(df2[df2['ticker'] == ticker])

a

,cp_flag,cusip,date,exdate,exercise_style,index_flag,issuer,optionid,secid,symbol,ticker
358166,C,03265410,19960104,19960622,A,0,ANALOG DEVICES INC,10016089,101535,NaN,ADI
367000,P,03822210,19960104,19960720,A,0,APPLIED MATLS INC,10081801,101610,NaN,AMAT
306077,P,00790310,19960104,19960120,A,0,ADVANCED MICRO DEVICES INC,10058995,101121,NaN,AMD
2703740,C,N0705921,20000103,20000422,A,0,ASML HOLDING N V,10021632,112435,098EB.00,ASML
5510921,C,11135F10,20100104,20100116,A,0,BROADCOM INC,44995634,139322,NaN,AVGO
569108,P,11434010,20000103,20000122,A,0,BROOKS AUTOMATION INC,10056344,102373,09972.98,BRKS
5537389,C,14964U10,20080102,20080119,A,0,CAVIUM INC,32993856,129430,NaN,CAVM
627140,C,12709P10,20010102,20010120,A,0,CABOT MICROELECTRONICS CORP,11846238,102596,NaN,CCMP
515379,C,22544710,19960104,19960622,A,0,CREE INC,10105302,103517,NaN,CREE
476517,C,17275510,19960104,19960217,A,0,CIRRUS LOGIC INC,10081105,103041,NaN,CRUS
871368,C,29362U10,20020102,20020119,A,0,ENTEGRIS INC,20535968,104358,NaN,ENTG
3093251,C,35687M10,20050103,20050122,A,0,FREESCALE SEMICONDUCTOR INC,31425861,121717,NaN,FSL
3129250,C,35687M20,20050103,20050122,A,0,FREESCALE SEMICONDUCTOR INC,31570319,122434,NaN,FSL
666485,P,45867G10,19960104,19960217,A,0,INTERDIGITAL INC,10225773,106244,NaN,IDCC
5568953,C,45667G10,20080102,20080119,A,0,INFINERA CORPORATION,32731374,129677,NaN,INFN
664582,C,45814010,19960104,19970118,A,0,INTEL CORP,10082586,106203,NaN,INTC
9228735,C,45772F10,20120103,20120121,A,0,INPHI CORP,62803872,144632,NaN,IPHI
687294,P,48248010,19960104,19960316,A,0,KLA CORP.,10017423,106595,NaN,KLAC
703256,P,51280710,19960104,19960622,A,0,LAM RESEARCH CORP,10048823,106808,NaN,LRCX
706097,P,51841510,19960104,19960120,A,0,LATTICE SEMICONDUCTOR CORP,10323652,106857,NaN,LSCC
3013694,C,53223X10,20100104,20100116,A,0,LIFE STORAGE INC,45318634,110369,NaN,LSI
753244,P,59501710,19960104,19960720,A,0,MICROCHIP TECHNOLOGY INC,10069119,107532,NaN,MCHP
1668239,C,55306N10,20010102,20010120,A,0,MKS INSTRUMENT INC,11892918,107116,NaN,MKSI
4709482,C,60983910,20080102,20080119,A,0,MONOLITHIC PWR SYS INC,32959771,122395,NaN,MPWR
3103186,C,G5876H10,20010103,20010120,A,0,MARVELL TECHNOLOGY GROUP LTD,20191781,112306,NaN,MRVL
1614801,C,59513710,20000103,20000122,A,0,MICROSEMI CORP.,10099704,107547,09A1B.F8,MSCC
771408,C,62007630,19960104,19960420,A,0,MOTOROLA SOLUTIONS INC,10066164,107747,NaN,MSI
755124,C,59511210,19960104,19980117,A,0,MICRON TECHNOLOGY INC,10053085,107544,NaN,MU
731380,P,57772K10,19960104,19960120,A,0,MAXIM INTEGRATED PRODS INC,10071314,107289,NaN,MXIM
782087,P,63764010,19960104,19960217,A,0,NATIONAL SEMICONDUCTOR CORP,10100609,107951,NaN,NSM
12487828,C,63861C10,20140102,20140118,A,0,NATIONSTAR MTG HLDGS INC,83097651,152161,NaN,NSM
1784358,C,67066G10,20000103,20000219,A,0,NVIDIA CORP,10001581,108321,0989C.AD,NVDA
7191174,C,N6596X10,20110103,20110122,A,0,NXP SEMICONDUCTORS N V,49816338,143710,NaN,NXPI
2034745,C,68218910,20010102,20010120,A,0,ON SEMICONDUCTOR CORP,11910473,108451,NaN,ON
1981949,P,73927610,20000103,20000122,A,0,POWER INTEGRATIONS INC,10001158,109128,0989B.06,POWI
897440,C,74752510,19960104,19960720,A,0,QUALCOMM INC,10020802,109348,NaN,QCOM
16043756,C,74736K10,20150102,20150117,A,0,QORVO INC,83383731,206043,NaN,QRVO
6349372,C,78112T20,20090102,20090117,A,0,RUBICON TECHNOLOGY INC,33837105,134832,NaN,RBCN
3668804,C,82706C10,20070111,20070120,A,0,SILICON MOTION TECHNOLOGY CO,32357023,124127,NaN,SIMO
2564946,C,82691910,20010102,20010120,A,0,SILICON LABORATORIES INC,20184166,110163,NaN,SLAB
2212295,P,81685010,20000103,20000122,A,0,SEMTECH CORP,10035937,110050,09922.E1,SMTC
977241,P,86101210,19960104,19960720,A,0,STMICROELECTRONICS N V,10016358,110532,NaN,STM
281522,C,83088M10,20000103,20000122,A,0,SKYWORKS SOLUTIONS INC,10004977,101281,098A9.F1,SWKS
1008048,P,88077010,19960104,19960120,A,0,"TERADYNE, INC.",10056063,110952,NaN,TER
2341293,P,87403910,20000103,20000722,A,0,TAIWAN SEMICONDUCTOR MFG LTD,10016263,110784,098D6.07,TSM
1011616,P,88250810,19960104,19960120,A,0,TEXAS INSTRS INC,10000598,110972,NaN,TXN
2507421,P,92241710,20000103,20000722,A,0,VEECO INSTRS INC DEL,10020063,111642,098E4.DF,VECO
1079161,C,98391910,19960104,19960217,A,0,XILINX INC,10050456,112161,NaN,XLNX

### *確認選擇權 ovsv&skew 的 secid*

In [202]:
semi_61 = pd.read_excel('C:\\Users\\User\\Desktop\\資料整理\\semi_61.xlsx')
secids_all = semi_61.secid.values.tolist()  # 61 家半導體

In [3]:
df_v = pd.read_csv('weeklyovsv.csv')
df_p = pd.read_csv('weeklyskew.csv')

# 轉換為日期較方便
df_v['date'] = pd.to_datetime([str(date)[:4]+'-'+str(date)[4:6]+'-'+str(date)[6:] for date in df_v['date']])
df_p['date'] = pd.to_datetime([str(date)[:4]+'-'+str(date)[4:6]+'-'+str(date)[6:] for date in df_p['date']])

In [260]:
df_p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9417754 entries, 0 to 9417753
Data columns (total 5 columns):
Unnamed: 0    int64
skewcount     int64
secid         int64
weeklyskew    float64
date          datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 359.3 MB

In [262]:
df_v.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13182265 entries, 0 to 13182264
Data columns (total 9 columns):
Unnamed: 0        int64
weeklycallvol     float64
secid             int64
weeklyputvol      float64
weeklycallnum     float64
weeklyputnum      float64
weeklystockvol    float64
date              datetime64[ns]
weeklyvol         float64
dtypes: datetime64[ns](1), float64(6), int64(2)
memory usage: 905.2 MB

In [217]:
for secid in secids_all:
    tmp = df_v[df_v['secid'] == int(secid)]
    print('secid:{}, length:{}'.format(secid, len(tmp)))

secid:101535, length:7786
secid:101293, length:7220
secid:101610, length:8022
secid:101121, length:7923
secid:112435, length:0
secid:120446, length:2120
secid:101762, length:6402
secid:139322, length:2940
secid:102362, length:6305
secid:102373, length:4594
secid:129430, length:3601
secid:102596, length:4968
secid:103517, length:7789
secid:103041, length:7150
secid:103617, length:7738
secid:104358, length:2409
secid:147912, length:1552
secid:124237, length:2186
secid:106244, length:7268
secid:106190, length:7413
secid:106080, length:0
secid:129677, length:3802
secid:106203, length:8020
secid:144632, length:1662
secid:106595, length:7920
secid:106982, length:7540
secid:106808, length:7924
secid:106857, length:4547
secid:106776, length:6471
secid:107532, length:7729
secid:107116, length:3998
secid:128925, length:3112
secid:122395, length:2841
secid:112306, length:6187
secid:107547, length:5083
secid:107747, length:7951
secid:107544, length:8022
secid:107289, length:7457
secid:121699, length:2260
secid:107951, length:5560
secid:108321, length:6703
secid:108266, length:5943
secid:143710, length:2584
secid:108451, length:4624
secid:109128, length:4920
secid:109348, length:7995
secid:206043, length:1089
secid:134832, length:2176
secid:109435, length:5708
secid:124127, length:0
secid:110163, length:5951
secid:110050, length:6629
secid:109901, length:6924
secid:129789, length:0
secid:110532, length:0
secid:101281, length:6959
secid:110952, length:7907
secid:110784, length:0
secid:110972, length:7995
secid:111642, length:6744
secid:112161, length:7907

In [214]:
for secid in secids_all:
    tmp = df_p[df_p['secid'] == secid]
    print('secid:{}, length:{}'.format(secid, len(tmp)))

secid:101535, length:6907
secid:101293, length:6542
secid:101610, length:7501
secid:101121, length:5438
secid:112435, length:0
secid:120446, length:1597
secid:101762, length:2767
secid:139322, length:2590
secid:102362, length:6201
secid:102373, length:2250
secid:129430, length:3296
secid:102596, length:4330
secid:103517, length:6980
secid:103041, length:4005
secid:103617, length:5429
secid:104358, length:432
secid:147912, length:1290
secid:124237, length:2226
secid:106244, length:5489
secid:106190, length:3192
secid:106080, length:0
secid:129677, length:2229
secid:106203, length:7413
secid:144632, length:1151
secid:106595, length:7891
secid:106982, length:7504
secid:106808, length:7329
secid:106857, length:2159
secid:106776, length:2149
secid:107532, length:6525
secid:107116, length:3128
secid:128925, length:2922
secid:122395, length:2418
secid:112306, length:5626
secid:107547, length:3828
secid:107747, length:6725
secid:107544, length:6867
secid:107289, length:6653
secid:121699, length:2051
secid:107951, length:4401
secid:108321, length:6117
secid:108266, length:5823
secid:143710, length:2493
secid:108451, length:1681
secid:109128, length:4392
secid:109348, length:7889
secid:206043, length:1083
secid:134832, length:1593
secid:109435, length:1640
secid:124127, length:0
secid:110163, length:5083
secid:110050, length:5078
secid:109901, length:6557
secid:129789, length:0
secid:110532, length:0
secid:101281, length:4114
secid:110952, length:5858
secid:110784, length:0
secid:110972, length:7883
secid:111642, length:5571
secid:112161, length:7896

## **55家半導體**

### *抓取55家半導體的價和量*

In [228]:
semi_final = pd.read_excel('C:\\Users\\User\\Desktop\\資料整理\\semi_55_final.xlsx')  # 55 家半導體
secids_final = semi_final.secid.values.tolist()
tickers_final = semi_final.Ticker.values.tolist()

In [229]:
semi_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 3 columns):
secid     55 non-null int64
issuer    55 non-null object
Ticker    55 non-null object
dtypes: int64(1), object(2)
memory usage: 1.4+ KB

In [283]:
for i in range(len(secids_final)):
    tmp_p = df_p[df_p['secid'] == secids_final[i]][['date','weeklyskew']]
    tmp_v = df_v[df_v['secid'] == secids_final[i]][['date','weeklycallnum','weeklyputnum','weeklycallvol','weeklyputvol','weeklystockvol','weeklyvol']]

    file = pd.merge(tmp_p, tmp_v, on=['date'])
    name = str(tickers_final[i]) + '_' + str(secids_final[i])
    file.to_csv('C:\\Users\\User\\Desktop\\資料整理\\semi_55_option_0\\' + name + '.csv', index=False)